#mainresults
{
  widows: 100%;
  div {
    float: left;
    width: 30%
  }
}

.td_wide
{
  width: 200px
}

.icon img {
  height: 60px;
  width: 60px;
}

.filter-boxes {
  li {
    padding-right:20px;
    float:left;
  }
}

section.main {
    position: relative;
    text-align: center;
    padding-top: 100px;
  
    h2 {
      font-size: 50px;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 30px;
      margin: 0;
      margin-bottom: 50px;
      padding: 0;
      font-weight: normal;
      
      a { 
        color: inherit;
        text-decoration: underline;
      }
      a:hover {
        color: rgb(140, 19, 253)
      }
    }
  
    h2, h3 {
      span {
        display: inline-block;
        color: rgba(120, 19, 254, 0.8);
        padding: 0 5px;
  
      }
    }
  
    input {
    //   width: 500px;
    //   font-size: 16px;
    //   padding: 12px;
    //   border: 0px solid lightgray;
    //   border-radius: 10px;
    //   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    //   outline: none;
    //   margin: 5px;
      
    //   &:hover {
    //     box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    //   }
    }
  
    .btn {
        padding: 12px 30px;
        text-align: center;
        border-radius: 10px;
        margin: 5px;
        user-select: none;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
        transition: all 1s;
        color: #fff;
        outline: none;
  
        &:hover {
          color: #ddd;
          box-shadow: 0 20px 50px rgba(59, 43, 91, 0.3);
      }
    }
  
    .btn.primary {
        background: -webkit-linear-gradient(240deg,#6112fe,#7813fe);
    }

    .search-results {
      background-color: #fcfcfc;
      margin-top: 50px;
      padding: 20px 0;
    }
  }

  .search-result {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;

    h4 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &:not(:last-child) {
        border-bottom: 1px dotted #ddd;
    }

    .value-box {
        margin-top: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
    }

    .highlight {
        background-color: rgba(255, 255, 0, 0.75);
    }

    .attributes {
        margin-bottom: 15px;

        .attribute {
            margin: 5px auto;
            .title {
                display: inline-block;
                width: 100px;
                font-size: 12px;
            }
    
            .value {
                display: inline-block;
            }
        }
    }
}